<h1>List of the Articles</h1>

<table>
 <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @articles.each do|item|%>
   <tr>
    <td><%= item.title%></td>
    <td><%= item.description%></td>

    <td>Germany</td>
   </tr>
   <%end  %>
  <tbody>
</table>