
  <h1 class= "text-center mt-4">Articles List</h1>

   
 
 <%= render 'article' %>


  <div class="row  justify-content-center">
   <div class="col-2">
   <%= link_to 'Create New Article',  new_article_path, class: "btn btn-primary" %>
   </div>
  </div>
