

<h1  class= "text-center mt-4"> Wirte New Article</h1>

<%= render 'form' %>
<div class="d-flex justify-content-center">

<span><%= link_to '[Return to Article Listing]', articles_path %> </span>
</div>