<h1> Showing Article Details </h1>

<p> <strong>Title:</strong><%= @article.title%></p>
<p> <strong>Descripiton:</strong><%= @article.description%></p> 

<%= link_to 'Edit', edit_article_path(@article)%> |

<%= link_to 'Return to Article Listing', articles_path %> 