/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 .navbar{
    background-color: black;
 }

 .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    /* background-color: grey !important; */
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}

#jumbo{
   background-image: url("retrosupply-jLwVAUtLOAQ-unsplash.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-size:cover;
   font-size: xx-large;
   color: rgb(99, 22, 22);
   height: 500px;
   font-weight: bold;
}




footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   /* background-color: red; */
   color: white;
   text-align: center;
 }